@import "tailwindcss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: rgb(142, 200, 214)
}

/* header style */
h1{
    color: aliceblue;
    padding: 18px 0;
    text-align: center;
    font-size: 1.75rem;
    background: rgb(69, 114, 126);
}

/* container style for user input  */
.container{
    display: flex;
    gap: 35px;
    padding: 30px;
}
.weather-input{
    width: 550px;
}
.weather-input input{
    width: 100%;
    height: 46px;
    outline: none;
    padding: 0 15px;
    margin: 10px 0 20px 0;
    font-size: 1.07rem;
    border-radius: 4px;
    border: 1px solid rgb(78, 137, 151);
}

/* separate input and location button by separator style */
.weather-input .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: rgb(78, 137, 151);
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-input .separator::before{
    content: "or";
    color: rgb(51, 58, 59);
    padding: 0 15px;
    margin-top: -4px;
    background: rgb(142, 200, 214)
}
.weather-input button{
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    background: rgb(78, 137, 151);
}
.weather-input button:hover{
    background: rgb(2, 66, 82)
}
.weather-input .location-btn{
    background: rgb(78, 137, 151);
}
.weather-input .location-btn:hover{
    background: rgb(2, 66, 82);
}
.weather-data{
    width: 100%;
}
.current-weather{
    color: rgb(37, 36, 36);
    display: flex;
    border-radius: 5px;
    padding: 20px 70px 20px 20px;
    background: rgb(78, 175, 199);
    justify-content: space-between;
}
.current-weather h2{
    font-size: 1.7rem;
}
.weather-data h4{
    margin-top: 12px;
    font-size: 1rem;
    font-weight: 500;
}
.current-weather .icon{
    text-align: center;
}
.current-weather .icon img{
    max-width: 120px;
    margin-top: -15px;
}
.current-weather .icon h4{
    margin-top: -10px;
    text-transform: capitalize;
}
.days-forecast h2{
    font-size: 1.5rem;
    margin: 20px 0;
}
.weather-cards{
    display: flex;
    gap: 20px;
}
.weather-cards .card{
    list-style: none;
    color: black;
    padding: 18px 16px;
    border-radius: 5px;
    background: rgb(56, 90, 97);
    width: calc(100% / 5);
}
.weather-cards .card img{
    max-width: 70px;
    margin: 5px 0 12px 0;
}

/* media Query styles to make page responsive */

@media (max-width: 1400px) {
    .weather-data .current-weather{
        padding: 20px;
    }
    .weather-cards{
        flex-wrap: wrap;
    }
    .weather-cards .card{
        width: calc(100% / 4 - 15px);
    }
}
@media (max-width: 1200px) {
    .weather-cards .card{
        width: 450px;
    }
}
@media (max-width: 950px) {
    .weather-input{
        width: 450px;
    }
    .weather-cards .card{
        width: calc(100% / 2 -10px);
    }
}
@media (max-width: 750px) {
    .container{
        flex-wrap: wrap;
        padding: 15px;
    }
    .weather-input{
        width: 100%;
    }
}
